.container {
    background: green;
    margin-top: 10px;
}

.card-img {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
}

.footer {
    width: auto;
}

.navbar {
    height: 100px;
}

.navbar-brand {
    background: #4aaaa5;
    
}