.container-fluid {
    background: #4aaaa5;
}

.card-img {
    float: left;
}
.card-title {
    margin-left: 15px;
    margin-top: 20px;
}

.footer {
    height: 50px;
    width: auto;
    text-align: center;
}

.navbar {
    height: 100px;
    margin-bottom: 20px;
}

.navbar-brand {
    background: #4aaaa5;
    text-decoration-color: white;
    
}

.lineBreak {
    border: 2px solid grey;
}

